.App {
  text-align: center;
}

.Card-container {
  display: flex;
  flex-wrap: wrap;
}

.Card {
  background-color: transparent;
  width: 150px;
  height: 250px;
  border: 3px solid #a2a2a2;
  border-radius: 5px;
  box-shadow: -2px 2px 5px #b2b2b2;
  perspective: 1000px;
  margin: 5px;
}

.Image-container {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  transform-style: preserve-3d;
  margin-top: 10px;
}

.Image-container:hover {
  position: relative;
  width: 100%;
  height: 150px;
  text-align: center;
  transform: rotateY(180deg);
}

.Image-card-front, .Image-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.Image-card-back {
  transform: rotateY(180deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-right: 3px solid black;
  border-top: 2px solid black;
  border-left: 1px solid black;
  animation: rotation 2s infinite linear;
  display: inline-block;
  margin-top: 10px;
}

.Pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.Pagination-link {
  color: black;
  text-decoration: none;
}

.Pagination {
  margin-right: 3px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: large;
}
